body {
  padding-top: 20px;
  padding-bottom: 40px;
}

footer {
  margin: 30px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:visited,
a:link,
a:active
{
  text-decoration: none;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 52px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

div.masthead div.page-header h3 {
  font-family: monospace, "Courier New";
}

@media only screen and (max-width: 450px) {
  h3.muted {
    display: none;
  }

  ul.nav {
    float: none;
  }

  div.page-header {
    padding-bottom: 0;
  }
}

h2.small {
  font-size: 24px;
  line-height: 32px;
}

.red-ish {
  color: #9D261D;
}

.contacts {
  margin: 50px 0 30px 0;
  text-align: center;
}

.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.about-image {
  width: 300px;
  height: auto;
  margin: 50px auto;
  display: block;
}

.post-image {
  width: 450px;
  height: auto;
  margin: 50px auto;
  display: block;
}

.skype    { background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMCAwIDYwIDYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDx0aXRsZT5Ta3lwZTwvdGl0bGU+CiAgICA8ZGVzY3JpcHRpb24+Q3JlYXRlZCB3aXRoIFNrZXRjaCAoaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoKTwvZGVzY3JpcHRpb24+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iU2t5cGUiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiPgogICAgICAgICAgICA8ZyBza2V0Y2g6dHlwZT0iTVNMYXllckdyb3VwIj4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjU2MTQ1MTcyLDMwIEMwLjU2MTQ1MTcyLDEzLjQzMTQ1NjcgMTMuNzkxODEyLDAgMzAuMTEyMjkwMywwIEM0Ni40MzI3Njg3LDAgNTkuNjYzMTI5LDEzLjQzMTQ1NjcgNTkuNjYzMTI5LDMwIEM1OS42NjMxMjksNDYuNTY4NTQzMyA0Ni40MzI3Njg3LDYwIDMwLjExMjI5MDMsNjAgQzEzLjc5MTgxMiw2MCAwLjU2MTQ1MTcyLDQ2LjU2ODU0MzMgMC41NjE0NTE3MiwzMCBaIE0wLjU2MTQ1MTcyLDMwIiBmaWxsPSIjMTJBNUY0IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNDUuNDUyNzEyNSwzMC41ODA2Mjc4IEM0NS40NTI3MTI1LDIyLjEzNDkxMDggMzguNzY5MjY2NiwxNS4yODczNjQ0IDMwLjUyNjQ5MTksMTUuMjg3MzY0NCBDMjkuNzA3MjQyNiwxNS4yODczNjQ0IDI4LjkwNDA1NTksMTUuMzU2Njc5NSAyOC4xMjI0NTUsMTUuNDg4NzcwNSBDMjYuNzIxMDg0MywxNC41NDgxNzc4IDI1LjA1MzMxNzksMTQgMjMuMjU4NDQ4NCwxNCBDMTguMzM2NzMxMywxNCAxNC4zNTE4NDMxLDE4LjEwNzExNTQgMTQuMzUxODQzMSwyMy4xNzQ4MzM0IEMxNC4zNTE4NDMxLDI1LjAxODc0NTYgMTQuODc4NzMsMjYuNzMxNzQzOSAxNS43ODYwMzcxLDI4LjE3MDAzMiBDMTUuNjYzODIyNywyOC45NTU4NDI4IDE1LjYwMTM1MDUsMjkuNzYwNTUxOCAxNS42MDEzNTA1LDMwLjU4MDM2NjMgQzE1LjYwMTM1MDUsMzkuMDI3MzkxMiAyMi4yODEzNjgsNDUuODc0MjE4MyAzMC41MjY0Mjg0LDQ1Ljg3NDIxODMgQzMxLjQ1Njk3MjEsNDUuODc0MjE4MyAzMi4zNjI5NDU5LDQ1Ljc4MDk2OTkgMzMuMjQzNDYxMSw0NS42MTcwOTg1IEMzNC42MTE2Mjc2LDQ2LjQ5MTMxODggMzYuMjIzMjA3MSw0NyAzNy45NTA4NDI4LDQ3IEM0Mi44NzEyOTAyLDQ3IDQ2Ljg1Nzc2NTYsNDIuODkxODM4MyA0Ni44NTc3NjU2LDM3LjgyNDY0MzUgQzQ2Ljg1NzU3NTEsMzUuOTA5MTI3NSA0Ni4yODg5MTMsMzQuMTI4MTg3MyA0NS4zMTIwODY2LDMyLjY1NTg5NTUgQzQ1LjQwMTM1MDcsMzEuOTc1ODIyOSA0NS40NTI3MTI1LDMxLjI4NDQzNzYgNDUuNDUyNzEyNSwzMC41ODA2Mjc4IFogTTIyLjkxOTczNzYsMzkuNTcwOTc5OSBDMjAuNjQ2ODUxOCwzNy4zNjI0OTU5IDIxLjU1OTg4MjcsMzQuODQzNTQyNiAyMy40MTE2MTksMzQuNzE1NTEyNiBDMjUuMjYyMzM4NCwzNC41ODc1NDg0IDI2LjM3MzU4MzUsMzYuODg3NDE2NiAyNy4zNjEzNDk5LDM3LjUyNzE3MTcgQzI4LjM0NzkwODgsMzguMTY0NTU4MyAzMi4xMDE3NzcsMzkuNjE2NzA0OSAzNC4wODQ2MTgsMzcuMjcwMDU5MSBDMzYuMjQzNzQ4NCwzNC43MTU1MTI2IDMyLjY0ODc1NjYsMzMuMzkzNjMyOCAzMC4wMTM2MzI2LDMyLjk5MzQ4OTggQzI2LjI1MTI0ODcsMzIuNDE2NzYyOSAyMS41MDEwMzQ5LDMwLjMwOTY2MzQgMjEuODcwNTgxNCwyNi4xNTczMDgyIEMyMi4yNDAyNTUsMjIuMDA3NTg0NyAyNS4yNzU3NDc2LDE5Ljg3OTg5MjQgMjguNDcwMzA3MiwxOS41Nzk3NTIzIEMzMi41NDI0MzY2LDE5LjE5NzA0NCAzNS4xOTMzODQ3LDIwLjIxODM4ODkgMzcuMjkwMTcxOSwyMi4wNzA2MTI4IEMzOS43MTQ2ODk0LDI0LjIxMDczOTUgMzguNDAyODE1MSwyNi42MDMyNDE5IDM2Ljg1ODA5MTYsMjYuNzk1NzQ3NCBDMzUuMzE5NDY5LDI2Ljk4NzEzNDUgMzMuNTkxMzM4NiwyMy4yNzU2NDcxIDMwLjE5ODU2NDcsMjMuMjE5ODU2IEMyNi43MDE1NjgsMjMuMTYzMDEyMyAyNC4zMzgxMjI2LDI2Ljk4NzEzNDUgMjguNjU1MTc1OCwyOC4wNzQyMDQ5IEMzMi45NzQ0NTMzLDI5LjE2MDA5MTEgMzcuNTk5OTE3MywyOS42MDYyMjIzIDM5LjI2NTY0MTEsMzMuNjkzOTA0NSBDNDAuOTMyNTA4OCwzNy43ODE5ODE2IDM2LjY3NTcwMTUsNDIuMTIzNDIxMSAzMS45MjQyMTY3LDQyLjM3OTY3ODQgQzI3LjE3NjYwODQsNDIuNjM1NjcyNSAyNC45NTQ5NDQ0LDQxLjU0ODI3MzEgMjIuOTE5NzM3NiwzOS41NzA5Nzk5IFogTTIyLjkxOTczNzYsMzkuNTcwOTc5OSIgaWQ9IlBhdGgiIGZpbGw9IiNGRkZGRkYiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik01OS42NjMxMjksMzAgQzU5LjY2MzEyOSw0Ni41Njg1NDMzIDQ2LjQzMjc2ODcsNjAgMzAuMTEyMjkwMyw2MCBDMjQuMDU5NDExNSw2MCAxOC40MzE1NzYxLDU4LjE1MjUxMzQgMTMuNzQ2MTk1NSw1NC45ODI3NzU0IEw0Ny42MDY0MTY4LDUuODE5NDExMDMgQzU0LjkxODMxNDgsMTEuMjgwNjUwMyA1OS42NjMxMjksMjAuMDc3Nzk3MyA1OS42NjMxMjksMzAgWiBNNTkuNjYzMTI5LDMwIiBpZD0icmVmbGVjIiBmaWxsLW9wYWNpdHk9IjAuMDgiIGZpbGw9IiMwMDAwMDAiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+); }
.telegram { background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMCAwIDI0MCAyNDAiPgo8ZGVmcz4KCTxsaW5lYXJHcmFkaWVudCBpZD0iYiIgeDE9IjAuNjY2NyIgeTE9IjAuMTY2NyIgeDI9IjAuNDE2NyIgeTI9IjAuNzUiPgoJCTxzdG9wIHN0b3AtY29sb3I9IiMzN2FlZTIiIG9mZnNldD0iMCIvPgoJCTxzdG9wIHN0b3AtY29sb3I9IiMxZTk2YzgiIG9mZnNldD0iMSIvPgoJPC9saW5lYXJHcmFkaWVudD4KCTxsaW5lYXJHcmFkaWVudCBpZD0idyIgeDE9IjAuNjU5NyIgeTE9IjAuNDM2OSIgeDI9IjAuODUxMiIgeTI9IjAuODAyNCI+CgkJPHN0b3Agc3RvcC1jb2xvcj0iI2VmZjdmYyIgb2Zmc2V0PSIwIi8+CgkJPHN0b3Agc3RvcC1jb2xvcj0iI2ZmZiIgb2Zmc2V0PSIxIi8+Cgk8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+CjxjaXJjbGUgY3g9IjEyMCIgY3k9IjEyMCIgcj0iMTIwIiBmaWxsPSJ1cmwoI2IpIi8+CjxwYXRoIGZpbGw9IiNjOGRhZWEiIGQ9Im05OCAxNzVjLTMuODg3NiAwLTMuMjI3LTEuNDY3OS00LjU2NzgtNS4xNjk1TDgyIDEzMi4yMDU5IDE3MCA4MCIvPgo8cGF0aCBmaWxsPSIjYTljOWRkIiBkPSJtOTggMTc1YzMgMCA0LjMyNTUtMS4zNzIgNi0zbDE2LTE1LjU1OC0xOS45NTgtMTIuMDM1Ii8+CjxwYXRoIGZpbGw9InVybCgjdykiIGQ9Im0xMDAuMDQgMTQ0LjQxIDQ4LjM2IDM1LjcyOWM1LjUxODUgMy4wNDQ5IDkuNTAxNCAxLjQ2ODQgMTAuODc2LTUuMTIzNWwxOS42ODUtOTIuNzYzYzIuMDE1NC04LjA4MDItMy4wODAxLTExLjc0NS04LjM1OTQtOS4zNDgybC0xMTUuNTkgNDQuNTcxYy03Ljg5MDEgMy4xNjQ3LTcuODQ0MSA3LjU2NjYtMS40MzgyIDkuNTI4bDI5LjY2MyA5LjI1ODMgNjguNjczLTQzLjMyNWMzLjI0MTktMS45NjU5IDYuMjE3My0wLjkwODk5IDMuNzc1MiAxLjI1ODQiLz4KPC9zdmc+); }
.email    { background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgNjAgNjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPg0KICAgIDxwYXRoIGQ9Ik0wLjIyNDU4MDY4OCwzMCBDMC4yMjQ1ODA2ODgsMTMuNDMxNDU2NyAxMy40NTQ5NDEsMCAyOS43NzU0MTkzLDAgQzQ2LjA5NTg5NzYsMCA1OS4zMjYyNTc5LDEzLjQzMTQ1NjcgNTkuMzI2MjU3OSwzMCBDNTkuMzI2MjU3OSw0Ni41Njg1NDMzIDQ2LjA5NTg5NzYsNjAgMjkuNzc1NDE5Myw2MCBDMTMuNDU0OTQxLDYwIDAuMjI0NTgwNjg4LDQ2LjU2ODU0MzMgMC4yMjQ1ODA2ODgsMzAgWiBNMC4yMjQ1ODA2ODgsMzAiIGZpbGw9IiNGRkZGRkYiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4NCiAgICA8cGF0aCBkPSJNMzUuMDM4NDMyNCwzMS42Mzg0MDA2IEw0Ny4yMTMxMTQ4LDQwLjU3NjQyNjQgTDQ3LjIxMzExNDgsMjAgTDM1LjAzODQzMjQsMzEuNjM4NDAwNiBaIE0xMy43NzA0OTE4LDIwIEwxMy43NzA0OTE4LDQwLjU3NjQyNjQgTDI1Ljk0NDkxMjksMzEuNjM3MTQ5MSBMMTMuNzcwNDkxOCwyMCBaIE0zMC40OTE4MDMzLDM1Ljk4NDQ4OTEgTDI3LjU4NTEwMzcsMzMuMjA2NTIxNyBMMTMuNzcwNDkxOCw0MiBMNDcuMjEzMTE0OCw0MiBMMzMuMzk4MTc2MiwzMy4yMDY1MjE3IEwzMC40OTE4MDMzLDM1Ljk4NDQ4OTEgWiBNNDYuMjA5ODM2MSwyMCBMMTQuNzczNzcwNSwyMCBMMzAuNDkxODAzMywzMi40NTQ5MzA0IEw0Ni4yMDk4MzYxLDIwIFogTTQ2LjIwOTgzNjEsMjAiIGlkPSJTaGFwZSIgZmlsbD0iIzMzMzMzMyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPg0KICAgIDxwYXRoIGQ9Ik01OS4zMjYyNTc5LDMwIEM1OS4zMjYyNTc5LDQ2LjU2ODU0MzMgNDYuMDk1ODk3Niw2MCAyOS43NzU0MTkzLDYwIEMyMy43MjI1NDA1LDYwIDE4LjA5NDcwNTEsNTguMTUyNTEzNCAxMy40MDkzMjQ0LDU0Ljk4Mjc3NTQgTDQ3LjI2OTU0NTgsNS44MTk0MTEwMyBDNTQuNTgxNDQzOCwxMS4yODA2NTAzIDU5LjMyNjI1NzksMjAuMDc3Nzk3MyA1OS4zMjYyNTc5LDMwIFogTTU5LjMyNjI1NzksMzAiIGlkPSJyZWZsZWMiIGZpbGwtb3BhY2l0eT0iMC4wOCIgZmlsbD0iIzAwMDAwMCIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPg0KPC9zdmc+); }
