---
layout: default
title: Homepage
---
<div class="jumbotron">
	<h1>Explore different ways of living</h1>
	<p class="lead">
		but don't forget your own
	</p>
</div>

<hr>

<div class="row-fluid marketing">
	<div>
		<h2><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h2>
		<p>{{ site.posts.first.content | truncatewords:120 }}</p>
	</div>
</div>

<div class="row-fluid marketing">
	{% for post in site.posts limit:3 %}
		{% if forloop.first %}
		{% else %}
			<div class="span6">
				<h2 class="small"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p>{{ post.content | truncatewords:80 }}</p>
			</div>
		{% endif %}
	{% endfor %}
</div>
